// CUSTOM COLOURS

:root {
  --colour-primary: #1b4887;

  --colour-accent: #f3b7d6;

  --colour-grey-dk: #2b2b2c;
  --colour-grey-mid: #ececee;
  --colour-grey-lt: #eee;

  --colour-white: #fff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-size: 1.8rem;
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #f3f2f2; */
}

a:link,
a:visited {
  color: var(--colour-accent);
}

select,
input {
  background-color: var(--colour-grey-lt);
  color: var(--colour-grey-dk);
  font-family: inherit;
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem 2.8rem;
  font-size: 1.4rem;
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  font-weight: 300;
  line-height: 1.1;
  color: var(--colour-white);
}

.header {
  background-color: var(--colour-primary);
  padding: 1rem 2rem;
  margin-bottom: 6rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.container {
  display: grid;
  row-gap: 4rem;
  column-gap: 8rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px auto;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto) auto;
  }
}

.btn {
  align-self: center;
  background-color: var(--colour-accent);
  color: var(--colour-primary);
  border-radius: 100px;
  border: none;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    border-color: #124b9a;
  }

  &--primary {
    font-size: 1.8rem;
    background-color: var(--colour-accent);
  }

  &--right {
    align-self: end;
  }
}

.input-block {
  background-color: var(--colour-primary);
  color: var(--colour-white);
  border-radius: 10px;
  padding: 2rem 2.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & > h2 {
    border-bottom: 2px solid var(--colour-accent);
  }
}

.input-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2rem;
}

.form {
  &__qualifications {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__employment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.section {
  background-color: var(--colour-white);
  border-radius: 1rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__display--title {
    border-bottom: 1px solid var(--colour-grey-dk);
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.6rem;
  }

  &__personal-details {
    grid-column: 1 / 2;
    grid-row-start: 1;
    @media only screen and (max-width: 1200px) {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
    }
  }

  &__qualifications {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 1 / 2;

    @media only screen and (max-width: 1200px) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }
  }

  &__experience {
    grid-column: 1 / 2;

    @media only screen and (max-width: 1200px) {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
    }
  }

  &__preview {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    border-radius: 0;

    @media only screen and (max-width: 1200px) {
      grid-row-start: 4;
      grid-column: 1 / -1;
    }
  }
}

.preview-container {
  padding: 4rem 5rem;
}

.personal-details {
  display: flex;
  justify-content: space-between;
  padding: 6rem 5rem;
  background-color: var(--colour-grey-mid);
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  &__name {
    font-size: 3.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.6rem;
    gap: 1rem;
  }
}

.display-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--colour-accent);
}

.item {
  font-size: 1.6rem;
  margin-bottom: 2rem;

  &__title {
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &__subtitle {
    letter-spacing: 0.1rem;
    // text-transform: uppercase;
  }
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;

  @media only screen and (max-width: 1200px) {
    & > input {
      flex-grow: 1;
    }
  }
}

.footer {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--colour-primary);
  color: var(--colour-white);
  font-size: 1.6rem;
  font-weight: 300;
}
